<img id="question" src="images/question.png"></img>
<div id="lost">
    Lost your password?
</div>

<div id="help">
    Enter your email address below to recover your password.
</div>

<input id="helpEmail" type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">

<button class="btn btn-primary" id="recover">RECOVER</button>

<div id="goBackForgot">
    <span>Took a wrong turn? </span>
    <span><a href="/">Return to login.</a></span>
</div>