<img src="images/Logo.png" id="logo">
<img id="cfc" src="images/cfc.png"></img>
<div id="slogan">Making the internet a nicer place for everyone.</div>
<div id="box">
    {{#if errorMsg}}
        <div id="errorMsg">{{errorMsg}} </div>
    {{else}}
        
        {{!-- <div id="pleaseLogin">Please login below</div> --}}
    {{/if}}
    {{!-- <div id="buttons">
        <button class="btn btn-primary startButtons" onclick="getStarted()" id="icantcenterabuttonifihadaguntomyhead">GET STARTED</button>
        <button class="btn btn-primary startButtons" onclick="getStarted()">HAVE AN ACCOUNT?</button>
    </div> --}}
    
    {{> loginForm}}
    
    
</form>
    
</div>


    